/*
.domine-<uniquifier> {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
*/

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Domine", serif;
}

h1 {
  /*  color: #111827;*/
  line-height: 1.0;
  padding-bottom: 4px;
}

h1 a {
  text-decoration: none;
  color: #111827;
  font-weight: 700;
  font-size: 31px;
  text-transform: uppercase;
}

h1 a:hover {
  color: #111827;
}

header {
  display: flex;
  gap: 96px;
  line-height: 61px;
  padding: 20px 349px 20px 0px;
}

.nav-flex {
  display: flex;
  gap: 32px;
}

ul.nav-flex a {
  text-decoration: none;
  color: #111827;
  font-weight: 400;
  font-size: 18px;
}

ul.nav-flex a:hover,
article a:hover {
  color: #111827;
  border-bottom: 1px solid #111827;
}


header p {
  font-weight: 700;
  font-size: 16px;
  color: #8B4448;
  line-height: 1.0;
  text-transform: uppercase;
  text-align: right;
}

div.veil h2 {
  color: #AAD5D3;
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px 0px 25px 0px;
  width: 350px;
}

div.veil p {
  color: #FFFFFF;
  font-size: 18px;
  height: 62px;
  font-weight: 700;
  line-height: 1.0;
  width: 343px;
  padding-bottom: 5px;
}

.banner {
  background-image: url(../img/banner-background-image.jpg);
  height: 450px;
  background-repeat: no-repeat;
}

.veil {
  background-color: rgba(139, 68, 72, 0.7);
  padding-left: 35px;
  height: 330px;
  /*430px width in figma minus 35padding left = 395px*/
  width: 395px;
  margin-top: 60px;
  display: inline-block;
}

div.banner a {
  background-color: #AAD5D3;
  border-radius: 9px;
  height: 45px;
  width: 206px;
  line-height: 45px;
  padding: 10px 20px;
  text-decoration: none;
  color: #111827;
  font-size: 18px;
  font-weight: 400;
}

div.banner a:hover {
  color: #FFFFFF;
  background-color: #111827;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

.blog-posts {
  margin-top: 44px;

}

.tour-offers,
.checkout-myorder,
.checkout-payment {
  margin-top: 49px;
}


h4 {
  color: #8B4448;
  font-size: 21px;
  line-height: 31.5px;
  font-weight: 700;
  padding-bottom: 12px;

}

article p {
  color: #111827;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 538px;
}

article a {
  font-weight: 700;
  padding-top: 3px;
  line-height: 24px;
  text-decoration: none;
  color: #111827;
}

article.blog-article {
  border: 2px solid #8B4448;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  height: 271px;

}

article div.blog-post-article {
  padding: 18px 0px 0px 18px;
  /*padding-left: 18px;
  padding-top: 18px; */
  display: flex;
  gap: 18px 36px;
}

section.blog-posts footer {
  display: flex;
  gap: 0px 34px;
  background-color: #AAD5D3;
  width: 958px;
  padding-top: 11px;
}

section.blog-posts footer p {
  font-size: 16px;
}

.rating {
  display: flex;
  column-gap: 5px;
}

div.rating p {
  width: 49px;
}

div.review-date {
  width: 121px;
  padding-left: 19px;
}

div.rating img {
  margin-right: 10px;
}

.main-footer {
  background-color: #8B4448;
  height: 300px;
  color: #FFFFFF;
}

footer.main-footer h2 {
  font-weight: 700;
  font-size: 31px;
  line-height: 1.0;
  text-transform: uppercase;
  padding: 48px 0px 0px 298px;
}

.nav-flex-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 68px;
  width: 355px;
  /*padding has been deducted with 50px margin for left and right*/
  padding: 17px 256px 24px 248px;
  justify-content: center;
}

.nav-flex-footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;

}

ul.nav-flex-footer a:hover {
  color: #111827;
  font-size: 16px;
  font-weight: 700;
}

footer.main-footer div {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0;
  padding: 24px 0px 0px 358px;
  justify-content: center;
  text-align: center;
  width: 244px;
}

footer.main-footer nav {
  border-bottom: 1px solid #FFFFFF;
  margin-left: 50px;
  margin-right: 50px;
}

/*begin tours page*/
.tour-banner {
  background-image: url(../img/tour-banner-background-image.jpg);
  height: 300px;
  background-repeat: no-repeat;
}

div.tour-banner h2 {
  color: #AAD5D3;
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 78px 711px 0px 35px;
  width: 214px;
}

div.tour-banner p {
  color: #FFFFFF;
  font-size: 18px;
 /* height: 54px;*/
  font-weight: 700;
 /* line-height: 1.5;*/
  padding-left: 35px;
  width: 343px;
}

.tour-offers-flex {
  display: flex;
  column-gap: 30px;
  text-align: center;
  margin-bottom: 56px;
}

.tour-offers-flex h4,
.tour-offers-flex p {
  width: 300px;
}

.tour-offers img {
  display: block;
  margin-bottom: 12px;
}

.tour-offers-flex>section:nth-child(1) img {
 margin-left: 112px;
 
}

.tour-offers-flex>section:nth-child(2) img {
  margin-left: 133px;
}

.tour-offers-flex>section:nth-child(3) img {
  margin-left: 120px;
}

section.tour-offers h3 {
  width: 426px;
  /*there's a 1px margin found in figma */
  margin-left: 1px;
}

section.annual-tour-packages h3 {
  width: 432px;
    /*there's a 1px margin found in figma */
  margin-left: 1px;
}

.tour-package-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.annual-tour-packages {
  margin-bottom: 56px;
}

.tour-description {
  padding-bottom: 12px;
  width: 429px;
}

.tour-package {
  font-size: 16px;
  line-height: 24px;
}

.tour-package h4 {
  width: 429px;
}

.tour-package {

  height: 523px;
  background-color: #F3F4F6;
  padding-left: 18px;
 padding-right: 18px;
}

.tour-package img {
  padding-top: 18px;
  padding-bottom: 24px;
  width: 429px;
  height: 250px;
  /* padding-right: 18px;*/
  display: block;
}

.tour-package p.tour-date {
  width: 190px;
  padding-bottom: 12px;
  font-style: italic;
}


section.tour-package a {
  margin-bottom: 35px;
  text-decoration: none;
  font-weight: 700;
  color: #111827;
}

section.tour-package a:hover {
  border-bottom: 1px solid #000000;
}

/*end tours page*/

/*start checkout */

.checkout-banner {
  background-image: url(../img/checkout-background-banner.jpg);
  height: 300px;
  background-repeat: no-repeat;
}

div.checkout-banner h2 {
  color: #AAD5D3;
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 123px 573px 0px 36px;
  width: 351px;
}

div.checkout-banner p {
  color: #FFFFFF;
  font-size: 18px;
  height: 27px;
  font-weight: 700;
  line-height: 1.0;
  padding-left: 36px;
  width: 343px;
}

form {
  width: 630px;
}


h3 {
  color: #111827;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}


section.checkout-myorder {

 /*  width: 299px;*/
  margin-left: 1px;
  padding: 0px;

}

section.checkout-myorder h3 {
    /*300px width minus 1px margin left found in figma*/
  width: 299px;
}

section.checkout-myorder h4 {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

section.checkout-myorder section {
  margin-top: 0px;
  padding-top: 0px;
}

section.checkout-myorder p {
  padding-bottom: 12px;
  line-height: 24px;
  color: #111827;
  font-size: 16px;
  width: 149px;
}


section.checkout-myorder img {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 0px;
  display: block;
}

.checkout-payment {
  margin-bottom: 75px;
}

.checkout-flex {
  display: flex;
  column-gap: 30px;
}

.shipping-address {
  margin-bottom: 48px;
  padding: 0px;
  border: none;
  /* width:630px;*/
}



.billing-information {
  margin-bottom: 45px;
  padding: 0px;
  border: none;
}

.shipping-address-flex,
.billing-info-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 30px;
  /*width:630px;*/

}

input {
   /*width:300px minus 2* border 1px =298px*/

  width: 298px;
  height: 40px;
  border: 1px solid #D1D5Db;
  background-color: #F9FAFB;
  padding: 0px;
}

input.button {
  font-weight: 700;
  font-size: 16px;
  width: 630px;
  line-height: 24px;
  background-color: #AAD5D3;
  border-radius: 4px;
}

input.button:hover {
  color: #FFFFFF;
  background-color: #111827;
  cursor: pointer;

}


table {
  /*deduct 2*/
  width: 247px;
  border-collapse: collapse;
 border: 1px solid #111827;
  text-align: center;
  /*deduct*/
  height: 87px;
  padding: 0px;
  table-layout: fixed;


}

td,
th {
  /*249px width of table- 3px (deduct 1px each for left border, center border, right border) = 246px
 246px / 2 = 123px */
  width: 123px;

  /*89px width of table- 3px (deduct 1px each for top border, center border, bottom border) = 86px
 86px / 2 = 43px */
  height: 43px;
  padding: 0px;
  border: 1px solid #111827;
}

th,
tr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


div.shipping-address-flex input.ship-to-name,
.credit-card {
  /*width:630px minus 2* border 1px =628px*/
  width: 628px;
  height: 40px;
  border: 1px solid #D1D5Db;
  background-color: #F9FAFB;
  padding: 0px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

span {
  margin-left: 16px;
  color: #B91C1C;
}

.name-span {
  margin-left: 11px;
  color: #B91C1C;
}

